* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 20px;
}

body {
  max-width: 600px;
  margin: 10px auto;
}

#task-list {
  padding: 0;
  margin: 0 10px;
  list-style: none;
}

li {
  background-color: #eee;
  border-radius: 4px;
  margin-bottom: 5px;
  border: 2px solid transparent;
  transition: border .5s;
}

li.pending {
  border-color: orange;
}

li.updated {
  border-color: green;
}

li label {
  padding: 10px;
  display: block;
  cursor: pointer;
}

li input[type="checkbox"] {
  display: none;
}

input.checked + .check-circle {
  background-color: #4799B2;
}

input.checked + .check-circle::after {
  content: '';
  position: absolute;
  top: 7px;
  left: 5px;
  width: 16px;
  height: 8px;
  border: 2px solid #e5e5e5;
  border-top: none;
  border-right: none;
  background: transparent;
  transform: rotate(-45deg);
  transition: all 0.2s;
}

.check-circle {
  background-color: rgb(71, 153, 178);
  border: 1px solid transparent;
  position: relative;
  min-width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  cursor: pointer;
  background: #e5e5e5;
}

.item-name {
  vertical-align: top;
  line-height: 34px;
}

.list-group-item {
  padding: 0;
  border: none;
  margin-bottom: 5px;
}

#connection-status {
  height: 2em;
  color: white;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  line-height: 40px;
}
.status-connected {
  background-color: green;
}

.status-disconnected {
  background-color: orange;
}
